# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# Testing
.coverage
.pytest_cache/
htmlcov/

# IDE
.vscode/
.idea/
